*{
      padding:0;
      margin:0;

    }
   .logo{
      text-align : center;
      background: linear-gradient(to top left, #33ccff 0%, #4ece7b  100%);
      color :white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      font-size: 35px;
    }
    .navbar {
      background-color: #4ece7b ;
    }
    .navbar ul{
          overflow:auto;
        }
    .navbar li{
      float:left;
      list-style:none;
      margin:10px 10px;
}
    .navbar a {
       color: white;
       padding: 14px 20px;
       text-decoration: none;
       text-align: center;
    }
    .navbar a:hover {
       background-color: lightblue;
       color: blue;
    }
    body {
      background-color: #e0f7fa;
    }

    .quizQuestions{
       display: flex;
       flex-direction: column;
    }


    .des{
      background-color: RoyalBlue;
      text-align:center;
      color : black;
      font-size: 20px;
      width: 50%;
      max-width: 70%;
      margin: 10px auto 0 auto;
      box-shadow: 0 0 15px #2f2f2f78, 0 0 35px #19191982;


    }
    input[type=text] {
      width: 60%;
      padding: 10px 20px;
      margin: 15px 0;
      box-sizing: border-box;
      background-color:white;
    }

    .questionAnswer{
          background-color: RoyalBlue;
          text-align:center;
          color : black;
          font-size: 20px;
          width: 50%;
          max-width: 70%;
          margin: 20px auto;
          box-shadow: 0 0 15px #2f2f2f78, 0 0 35px #19191982;
        }
    .button{
      background-color: black;
      border-radius: 12px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border: 2px solid #e7e7e7;
      box-sizing: border-box;
    }
    .button:hover {
      background-color: #555555;
      color: #e7e7e7;

    }
    textarea {
      margin: 15px auto 10px auto;
      width: 80%;
      padding: 12px;
      resize: vertical;
    }

    .saveAndNext{
      display:inline;
      flex-direction: row;
      width: 50%;
      margin: 0 200px 0 200px;
    }