.quizButton {
    padding: 1px 1px;
    margin: 0.9% 2.5% 0.9%;
    font-size: 16px;
    color: green;
    cursor: pointer;
    border-radius: 17px;
    display: block;
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    width: 600px;
    height: 50px;
    justify-content: center;
    align-items: center;

}
#quizHistory{
    background-color: #e0f7fa;
    overflow: scroll;
}

.quizButton:hover {
    background: #eee;
}

.right, .left {
    height: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
}
.left {
    left: 0;
    width: 60%;
    margin-top: 10%;

}

.right {
    width: 40%;
    right: 0;
    margin-top: 10%;
}
.answerBtn {
    background-color: inherit;
    padding: 1.2% 1.2%;
    font-size: 16px;
    color: green;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    box-sizing: border-box;
    box-shadow: 1px 1px #888888;
    border-radius: 10px;
    margin: 2%;
    width: 50%;
    align-items: initial;
    justify-content: initial;
}

.answerBtn:hover {
    background: #eee;
}

.questionText{
    align-items: center;
    justify-content: center;
}
#questionAnswer{
    overflow: scroll;
    background-color: #e0f7fa;
}

.navbar {
    background-color: #4ece7b ;
}
.numberDiv{
    color: #212121;
    width: 80px;
    height: 40px;
    margin-top: 10px;
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    margin-left: 20%;
}
.TotalQuestionsDiv{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-bottom: 40px;
    margin-top: 20px;
}
