.quizButton {
    position: initial;
    padding: 1px 1px;
    margin: 0.9% 2.5% 0.9%;
    font-size: 16px;
    color: green;
    cursor: pointer;
    border-radius: 17px;
    display: block;
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    width: 500px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.quizButton:hover {
    background: #eee;
}

.right, .left {
    height: 100%;
    /*width: 50%;*/
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
}
.left {
    left: 0;
    width: 60%;
    background-color: white;
    margin-top: 3%;
}

/* Control the right side */
.right {
    width: 40%;
    background-color:white;
    right: 0;
    margin: 3%;


}
#resultDetails{
    overflow: scroll;
}

.resultDiv{
    background-color: #55a262;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 10px;
}
.emailDiv{
    margin-left: 15px;
    width: 60%;
}
.marksDiv{

    background-color: dimgrey;
    width: 60px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    margin-left: 20%;
}
.TotalStudentsDiv{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-bottom: 40px;
}
.numberDiv{
    color: #212121;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    margin-left: 20%;
}
