<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examination DashBoard</title>
</head>
<body>
<div id="instruction">
    <div>Welcome</div>
    <div>The examination will be composed of Objective type Multiple Choice Questions (MCQs)</div>
    <div>There will be NO NEGATIVE MARKING for the wrong answers.</div>
    <div>The students just need to click on the Right Choice / Correct option from the
        multiple choices /options given with each question. For Multiple Choice Questions,
        each question has four options, and the candidate has to click the appropriate
        option.
    </div>
</div>
<div>
    <button id="start" type="button">Start Test</button>
</div>
</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/js/examinationDashboard.js}"></script>
</html>