<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Examination DashBoard</title>
    <link rel="stylesheet" type="text/css" href="css/examinationDashboard.css">
    <link rel="stylesheet" href="css/w2ui-min.css">
    <script src="js/w2ui-min.js"></script>
</head>
<body>
<form>
    <div class="questionAnswer">
        <div id="instruction">
            <div>Welcome</div>
            <div>The examination will be composed of Objective type Multiple Choice Questions (MCQs)</div>
            <div>There will be NO NEGATIVE MARKING for the wrong answers.</div>
            <div>The students just need to click on the Right Choice / Correct option from the
                multiple choices /options given with each question. For Multiple Choice Questions,
                each question has four options, and the candidate has to click the appropriate
                option.
            </div>
        </div>
        <div id="questionDiv">
            <h3 id="question"></h3>
            <div class="radio-default">
                <input type="radio" id="radio1" name="option">
                <label id="label1"></label>
            </div>
            <div class="radio-default">
                <input type="radio" id="radio2" name="option">
                <label id="label2"></label>
            </div>
            <div class="radio-default">
                <input type="radio" id="radio3" name="option">
                <label id="label3"></label>
            </div>
            <div class="radio-default">
                <input type="radio" id="radio4" name="option">
                <label id="label4"></label>
            </div>
            <div>
                <button id="next" type="button">Save and Next</button>
            </div>

        </div>

    </div>

</form>


<div>
    <button id="start" type="button">Start Test</button>
</div>
</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/js/examinationDashboard.js}"></script>
</html>