<!DOCTYPE html>
<html>
<head>
    <title>Examination DashBoard</title>
    <link rel="stylesheet" th:href="@{/css/examinationDashboard.css}">
    <link rel="stylesheet" href="css/w2ui-min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<div class="logo">
    <h1>LETSTEST</h1>
</div>
<body>

<section id="examDashboard">
    <div class="questionAnswer">
        <div id="instruction">
            <div id="welcome" class="welcome">Welcome</div>
            <div id="someInstruction">
            <ul>
                <li style="color: #0A96DE; margin-bottom: 10px">The examination will be composed of Objective type Multiple Choice Questions (MCQs)</li>
                <li style="color: #0A96DE; margin-bottom: 10px">There will be NO NEGATIVE MARKING for the wrong answers.</li>
                <li style="color: #0A96DE; ">The students just need to click on the Right Choice / Correct option from the
                    multiple choices /options given with each question. For Multiple Choice Questions,
                    each question has four options, and the candidate has to click the appropriate
                    option.
                </li>
            </ul>
            </div>
            <br><br><br><br>
        </div>
        <div id="questionDiv" style="display: none">
            <h3 id="question" style="margin-left: 30px; font-size: 27px; margin-top: 20px"></h3>
            <div class="radio-default" style="margin-bottom: 5px; margin-top: 10px;">
                <input type="radio" id="radio1" name="option">
                <label id="label1"></label>
            </div>
            <div class="radio-default" style="margin-bottom: 5px;">
                <input type="radio" id="radio2" name="option">
                <label id="label2"></label>
            </div>
            <div class="radio-default"style="margin-bottom: 5px;">
                <input type="radio" id="radio3" name="option">
                <label id="label3"></label>
            </div>
            <div class="radio-default"style="margin-bottom: 15px; ">
                <input type="radio" id="radio4" name="option">
                <label id="label4"></label>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>
                <button id="next" type="button" style="margin-top: 30px; margin-bottom: 30px">Save and Next</button>
            </div>

        </div>

    </div>

<div>
    <button id="start" type="button">Start Test</button>
</div>
</section>
</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/js/examinationDashboard.js}"></script>
</html>