<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Faculty Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/facultyHome.css">
</head>
<body >
<div class="logo">
  <h1>LETSTEST</h1>
</div>
<nav class="navbar">
  <ul>
    <li>
      <b>Faculty DashBoard</b>
    </li>
    <li>
      <a ><b>Home</b></a>
    </li>
    <li>
      <a href="/createQuiz"><b>Create Quiz</b></a>
    </li>
    <li>
      <a href="/quizHistory"><b>Quiz History</b></a>
    </li>
    <li>
      <a href="/quizAnalysis"><b>Quiz Response</b></a>
    </li>
    <li>
      <a href="/profile"><b>Profile</b></a>
    </li>
  </ul>

</nav>
</div>
<br>
<br>
<br>
<div id="welcome" class="welcome">
  <i><b>Welcome</b></i>
</div>
<div id="welcome1" class="welcome1">
  <i><b>To Faculty Dashboard</b></i>
</div>


</body>
</html>