<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/quizHistory.css}">
    <meta charset="UTF-8">
    <title>All Quizes</title>

</head>
<body>
<section>
    <div><h1 style="align-items: center; margin-left: 100px">ALL QUIZES</h1></div>
    <div id="quizAnalysis" class="quizAnalysis" style="display: none; align-items: center"></div>


</section>
</body>
<script th:src="@{/js/quizAnalysis.js}"></script>
</html>