<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/quizAnalysis.css}">
    <meta charset="UTF-8">
    <title>All Quizes</title>

</head>
<body>
<section id="quizAnalysisSection">
    <div><h1 style="align-items: center; margin-left: 100px">ALL QUIZES</h1></div>
    <div id="quizAnalysis" class="quizAnalysis" style="display: none; align-items: center"></div>
    <div class="split right" id="resultDetails" style="padding-top: 0;padding-bottom: 1%; padding-right: 3%; padding-left: 3%"></div>


</section>
</body>
<script th:src="@{/js/quizAnalysis.js}"></script>
</html>