<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/quizHistory.css}">
  <meta charset="UTF-8">
  <title>All Quizes</title>

</head>
<body>
<section id="quizes">
  <div id="title"><h1 style="align-items: center; margin-left: 100px">ALL QUESTIONS</h1></div>
  <div class="questionAnswer" id="questionAnswer" style="padding-top: 0;padding-bottom: 1%; padding-right: 3%; padding-left: 3%"></div>
</section>
</body>
<script th:src="@{/js/reviewQuestions.js}"></script>
</html>